@media screen and (min-width: 1680px){
.theme-antdocs-content:not(.custom) {
  padding 1rem 24rem 0 3rem !important
}
  .page-nav {
    padding 1rem 24rem 0 3rem !important
  }

}

.hero-logo {
  max-height 169px !important;
}

.home {
  padding 2rem 2rem 0 !important;
}

.action {
  font-size 2rem !important;
}

.footer {
  position fixed;
  bottom -1px;
  width 100%;
}

.features {
  padding 4.2rem 0 !important;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

tr:nth-child(2n){
  background-color: #FFF;
}